@{
    ViewBag.Title = "zaPrototip";
}



<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="" type="image/png" />

    <title>Places in Skopje</title>

  

    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="Places in Skopje" />
    <meta name="description" content=" " />
    <meta property="og:description" content=" " />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="stylesheet" media="all" href="/sites/default/files/css/css_LM4vB-hQBJXkQLlm4ZPoksvo3oc1BLibSLbwlUgJGNY.css" />
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" />
    <link rel="stylesheet" media="all" href="https://use.typekit.net/dhp3xnl.css" />
    <link rel="stylesheet" media="all" href="~/Content/global.css" />



    <style>
        :root {
            --theme-color: crimson;
        }
    </style>
</head>

<body>




    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <div class="site-container">



            <main class="content " role="main">
                <div data-drupal-messages-fallback class="hidden"></div>

                <div class="hero">
                    <div class="hero__visual" data-lazy-background-image="" data-hero-visual></div>

                    <div class="hero__overlay"></div>

                    <div class="page-title is-white is-spaced">
                        <h1 class="page-title__h1">
                            <span class="page-title__inner">
                                <span class="page-title__prefix prefix is-block"> </span>

                                <span class="page-title__main">Places</span>


                                <span class="page-title__suffix suffix is-block"> in Skopje</span>
                            </span>
                        </h1>

                    </div>
                </div>


                <div class="container is-white pull-up">
                    <div class="container">

                    </div>

                    <div class="container is-vertical">
                        <div class="list-content">
                            <div class="hotspots hasMap">
                                <div class="hotspots__list hotspots-list">


                                    <div class="hotspot" data-id="4212" id="dear-hotel-nice-meet-you">
                                        <h2 class="hotspot__title">Some place - Nice to meet you </h2>


                                        <div data-hotspot-actions data-id="4212" data-slug="dear-hotel-nice-meet-you" data-is-user-liked=""></div>

                                        <div class="hotspot__text">
                                            <p>
                                                On the 10th floor of the highest building in Skopje - X, this is the place to watch the sunset.
                                                With views of central Skopje, Some place is the best view you can have in the city.
                                                The restaurant and coffee bar are open to the public.
                                            </p>

                                        </div>

                                        <figure class="figure group" data-figure>

                                            <img class="figure__image"
                                                 src="~/Content/Sliki/SkopjeHeader.jpg"
                                                 alt="skopje centar"
                                                 style="background-color:crimson;"
                                                 data-figure-image
                                                 data-size=""
                                                 data-description=""
                                                 data-caption="" />
                                        </figure>

                                        <div class="hotspot__meta">
                                            <p>Ulica XYZ, Skopje 1000</p>        <a href="tel:+389 70 000 000">+389 70 000 000</a>
                                            <p><a href="" target="_blank" rel="noopener noreferrer">http://www.nekojawebstrana.com</a></p>
                                        </div>

                                    </div>








                                </div>

                                
                                <div class="hotspots__map sticky" data-hotspots-map>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.7088126778604!2d21.42979174925917!3d41.99539870826221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b475092443%3A0x2420e649a4b27994!2zU3F1YXJlIOKAnk1hY2Vkb25pYeKAnQ!5e0!3m2!1sen!2smk!4v1607278577547!5m2!1sen!2smk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                    <!-- https://maps.google.com/maps?q='+YOUR_LAT+','+YOUR_LON+'&hl=es&z=14&amp;output=embed -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div data-modal-container></div>




            </main>



            <footer>
                <div class="footer" style="background-color:crimson;">
                    <nav class="container is-horizontal" aria-label="Footer navigation">
                        <ul class="footer__list grid">
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">About</p>
                                <ul class="footer__sub-list">
                                    <!-- About us--->
                                    <li class="footer__sub-item"><a class="footer__link" href="/about">About us</a></li>

                                </ul>
                            </li>

                            <!-- Follow us--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Follow us</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
                                </ul>
                            </li>

                            <!--Cities (samo skopje sea za sea)--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Cities</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="/Home/Index">Skopje</a></li>

                                </ul>
                            </li>


                            <!--Menito ovde-->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Menu</p>
                                <ul class="footer__sub-list">
                                    <li class="footer__sub-item"><a class="footer__link" href="/united-kingdom/london">Home</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="/united-states/new-york">Categories</a></li>
                                    <li class="footer__sub-item"><a class="footer__link" href="/destinations">Trending</a></li>
                                </ul>
                            </li>

                            <!-- Ovde mapa da se stajt najubo Contact--->
                            <li class="footer__item col-2">
                                <p class="headline-4 footer__link">Contact Us</p>
                                <ul class="footer__sub-list">
                                    <li style="width:500px;" class="footer__sub-item">Phone number: +389 70 000 000</li>
                                    <li style="width:500px;" class="footer__sub-item">Adress: Partizanski Odredi 77</li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>


            </footer>
        </div>





    </div>




</body>
</html>


